*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/.name

.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/misc.xml

.idea/misc.xml

.idea/modules.xml

app/src/main/AndroidManifest.xml

app/src/main/res/drawable/g_search_btn.png

app/src/main/res/drawable/g_search_btn.png
